#{if products}
    <table>
        <thead>
            <tr>
                <th width="50%">Name</th>
                <th width="25%">Price</th>
                <th width="25%">Action</th>
            </tr>
        </thead>
        <tbody>
            #{list products, as:'product'}
                <tr>
                    <td>${product.name}</td>
                    <td>${product.price}</td>
                    <td>
                        <a href="@{show(product.id)}">Purchase</a>
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
    <p>
        <a id="nextPage" href="${page+1}">More results</a>
    </p>
#{/if}

#{else}
    <p>
        No more results
    </p>
#{/else}      